<!-- Error -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Development Error</h6>
    </div>
    <div class="card-body">
        <p>Error :</p>
        <p class="mb-0">"/login" => 404 Not Found</p>
    </div>
</div>