{% extends 'BASES/base.admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center mb-5">
            <h1><u>Paramètres</u> :</h1>
        </div>
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <label for="backgroundSidebar" class="col-5 offset-2 text-center col-form-label">Arrière plan Menu Gauche :</label>
                    <div class="col-1">
                        <input type="text" name="backgroundSidebar" class=" text-center form-control" value="{{ setting.backgroundMenuGauche }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="backgroundTopMenu" class="col-5 offset-2 text-center col-form-label">Arrière plan Menu Haut :</label>
                    <div class="col-1">
                        <input type="text" name="backgroundTopMenu" class="text-center form-control" value="{{ setting.backgroundMenuHaut }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="backgroundTopMenu" class="col-5 offset-2 text-center col-form-label">Couleur du texte de corps de page :</label>
                    <div class="col-1">
                        <input type="text" name="backgroundTopMenu" class="text-center form-control" value="{{ setting.colorTextBody }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="backgroundTopMenu" class="col-5 offset-2 text-center col-form-label">Arrière plan du corps de page :</label>
                    <div class="col-1">
                        <input type="text" name="backgroundTopMenu" class="text-center form-control" value="{{ setting.backgroundBody }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}{% endblock %}